.container {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4em 5% 128px;
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
  line-height: 2em;

  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

ol {
  margin-left: 1rem;
}

.title {
  color: var(--dark-text-color);
}

.date {
  padding: 1em 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.img {
  width: 100%;
  height: 100%;
  margin: 16px;
  max-width: 200px;
  max-height: 200px;
}

.linkContainer {
  margin-top: 2rem;
}

.musicLink,
.musicLink:visited {
  transition: color 1s ease;
  color: var(--dark-text-color);
}

.musicLink:hover {
  color: var(--hover);
}
