.blog-bkg {
  margin-top: 64px;
  padding-top: 2em;
}
.blog {
  .this-is-a-blog { font-family: "Crushed", "Trebuchet MS", Helvetica, sans-serif; }
  .blog--title a{ color: $blog-link; }
  color: $dark-text;
  a {
    color: $blog-link;
  }
  a:hover {
    text-shadow: 1px 0px $dark-text;
  }
  article img {
    max-width: 100%;
  }
}

.blog_3col {
  margin: 0 auto;
  width: 90%;
}

code {
  background-color: darken($light-text, 5%);
  padding: 0 4px;
}
