.footer {
  font-family: "Crushed", "Trebuchet MS", Helvetica, sans-serif;
  background-color: $dark-text;
  color: $light-text;
  li {
    padding: 0 1em;
    display: inline;
  }
  a {
    color: $light-text;
    &:hover {
      color: $light-text;
    }
  }
}
