.home {
  color: $dark-text;
  a {
    color: $dark-text;
    &:hover {
      color: darken($hover, 20%);
    }
  }
}

@media screen and (min-width: 320px) {
  h1 { font-size: 1.5em; }
  h3 { font-size: 1.2em; }
}

@media screen and (min-width: 768px) {
  h1 { font-size: 2.5em; }
  h3 { font-size: 2em; }
}

@media screen and (min-width: 1024px) {
  h1 { font-size: 3em; }
  h3 { font-size: 2.5em; }
}
