.projects {
  .tabs .indicator {
    background-color: $colortext;
  }
  .projects--tabs {
    background-color: $background;
    a {
      color: $colortext;
      &:hover {
        color: lighten($colortext, 25%);
      }
    }
  }
}

