.projects {
  .tabs .indicator {
    background-color: darken($background, 10%);
    color: $background-light;
  }
  .projects--tabs {
    margin-top: 64px;
    background-color: darken($background-light, 10%);
    .active {
      background-color: $background-light;
      color: $dark-text;
    }
    a {
      color: $dark-text;
      &:hover {
        color: $background;
      }
    }
  }
}

