.projects {
  .tabs .indicator {
    background-color: $hover;
  }
  .projects--tabs {
    margin-top: 64px;
    background-color: $background;
    a {
      color: $light-text;
      &:hover {
        color: $hover;
      }
    }
  }
}

