.resume_body  {
  padding: 4em 0;
}

.resume {
  padding-top: 2em;
  background-color: #FFFFFF;
  border: 1px solid $dark-text;
  border-radius: 4px;
  box-shadow: 4px 4px 2px $dark-text;
  .resume-section {
    padding: 0 2em;
  }
  .savvy{
    padding-top: 1em;
    color: $savvy;
    a {
      color: $savvy;
      &:hover { color: lighten($savvy, 25%); }
    }
  }
  .wccc{
    color: $wccc;
    a {
      color: $wccc;
      &:hover { color: lighten($wccc, 25%); }
    }
  }
  .phalcon {
    color: $phalcon-gray;  
    a {
      color: $phalcon-gray;
      &:hover { color: $phalcon; }
    }
  }
  .woss {
    color: $woss;
    a {
      color: $woss;
      &:hover { color: lighten($woss, 25%); }
    }
  }
}
