.savvygirl {
  background-color: $background;
  color: $savvy;
  // text-align: center;
  p {
    // margin: 0px;
  }
  a {
    color: $savvy;
    &:hover {
      color: darken($hover, 15%);
    }
  }
}
