a:hover {  
  color: $hover;
}

body {
  background-color: $background;
  font-family: "Raleway", "Trebuchet MS", Helvetica, sans-serif;
}

.header {
  text-align: center;
  color: $light-text;
  a {
    color: $dark-text;
  }
}

.contact {
  margin-top: 1em;
}

#sidenav-overlay {
  background-color: #EEEEF0;
}

.blog_3col {
  margin: 0 auto;
  width: 90%;
}

.about {
  // background-color: $dark-text;
  color: $light-text;
  margin-top: 2em;
  h5 {
    text-align: left;
  }
  a {
  color: $light-text;
  }
  a:hover {
  color: $hover;
  }
}

.latest-header {
  height: 64px;
  background-color: $dark-text;
  color: $light-text;
  .latest--archive { color: $blog-link; }
}

.latest {
  .latest--title a{ color: $blog-link; }
  color: $light-text;
  a {
    color: lighten($blog-link, 20%);
    &:hover { color: $hover; }
  }
}

.returntotop {
  position: fixed;
  border-radius: 4px;
  background-color: $dark-text;
  color: $hover;
  &:hover{
    background-color: $hover;
    color: $dark-text;
  }
}

#materialbox-overlay {
  background-color: #F5F5F5;
}
