@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Oxygen:400,700';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Crushed';

// Mixins
// @import "components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";

$background: #ECEBE4;
// $background: #F5F5DE;
$maintext: #000000;
$colortext: #660000;
// $altcolor: #759EB8;
$altcolor: #19647E;
$returntotop: #28536B;
$hover: #00FFFF;

$wccc: #005627;
$woss: #2E4056;
$savvy: #000078;

a:hover {  
  color: $hover;
}

body {
  background-color: $background;
}

nav {
  background-color: $maintext;
  font-family: "Crushed", "Trebuchet MS", Helvetica, sans-serif;
  .brand-logo {
    @media #{$large-and-up} {
      padding-left: 1em;
    }
    color: $background;
  }
  ul a {
    font-size: 1.25em;
    color: $background;
  }
}

.header {
  font-family: "Ubuntu", "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color: $colortext;
  a {
    color: $maintext;
  }
}

.contact {
  margin-top: 1em;
}

h1 {
  color: $maintext;
}


.fadein_resume {
  // margin-top: 2em;
  height: 80px;
  background: -moz-linear-gradient(270deg, darken($altcolor, 15%) 0%, $altcolor 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, darken($altcolor, 15%)), color-stop(100%, $altcolor)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, darken($altcolor, 15%) 0%, $altcolor 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, darken($altcolor, 15%) 0%, $altcolor 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, darken($altcolor, 15%) 0%, $altcolor 100%); /* ie10+ */
  background: linear-gradient(180deg, darken($altcolor, 15%) 0%, $altcolor 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken($altcolor, 15%)', endColorstr='$altcolor',GradientType=0 ); /* ie6-9 */
  }

.resume_body {
  background-color: $altcolor;
}

.fadeout_resume {
  height: 80px;
  background: -moz-linear-gradient(270deg, $altcolor 0%, darken($altcolor, 15%) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $altcolor), color-stop(100%, darken($altcolor, 15%))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, $altcolor 0%, darken($altcolor, 15%) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, $altcolor 0%, darken($altcolor, 15%) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, $altcolor 0%, darken($altcolor, 15%) 100%); /* ie10+ */
  background: linear-gradient(180deg, $altcolor 0%, darken($altcolor, 15%) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$altcolor', endColorstr='darken($altcolor, 15%)',GradientType=0 ); /* ie6-9 */
}

.resume {
  background-color: #FFFFFF;
  border: 1px outset #CCCCCC;
  // margin-top: 1em;
  // margin-bottom: 1em;
}

.savvy{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  color: $savvy;
  a {
    color: $savvy;
  }
  a:hover {
    color: lighten($savvy, 25%);
  }
}

.savvy .pic {
  font-family: 'Oxygen', 'Ubuntu', Helvetica, sans-serif;
}

.wccc{
  padding-left: 2em;
  padding-right: 2em;
  color: $wccc;
  a {
    color: $wccc;
  }
  a:hover {
    color: lighten($wccc, 25%);
  }
}

.woss {
  padding-left: 2em;
  padding-right: 2em;
  color: $woss;
  a {
    color: $woss;
  }
  a:hover {
    color: lighten($woss, 25%);
  }
}

.fadein_current {
  // margin-top: 2em;
  height: 80px;
  background: -moz-linear-gradient(270deg, darken($colortext, 10%) 0%, $colortext 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, darken($colortext, 10%)), color-stop(100%, #colortext)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, darken($colortext, 10%) 0%, $colortext 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, darken($colortext, 10%) 0%, $colortext 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, darken($colortext, 10%) 0%, $colortext 100%); /* ie10+ */
  background: linear-gradient(180deg, darken($colortext, 10%) 0%, $colortext 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken($colortext, 10%)', endColorstr='$colortext',GradientType=0 ); /* ie6-9 */
}

.current {
  padding: 2em;
  background-color: $colortext;
  color: $background;
  h4, h5, h6 {
  text-align: center;
  }
  a {
    color: $background;
  }
  a:visited {
  color: $background;
  }
  a:hover {
    color: $hover;
  }
}

.fadeout_current {
  height: 80px;
  background: -moz-linear-gradient(270deg, $colortext 0%, darken($colortext, 10%) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $colortext), color-stop(100%, darken($colortext, 10%))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, $colortext 0%, darken($colortext, 10%) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, $colortext 0%, darken($colortext, 10%) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, $colortext 0%, darken($colortext, 10%) 100%); /* ie10+ */
  background: linear-gradient(180deg, $colortext 0%, darken($colortext, 10%) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colortext', endColorstr='darken($colortext, 10%)',GradientType=0 ); /* ie6-9 */
}

.blog {
  a {
    color: $colortext;
  }
  a:hover {
    color: lighten($colortext, 25%);
  }
  article img {
    max-width: 100%;
  }
}

.about {
  background-color: $maintext;
  color: $background;
  margin-top: 2em;
  h5 {
    text-align: left;
  }
  a {
  color: $background;
  }
  a:hover {
  color: $hover;
  }
}

.returntotop {
    position: fixed;
    background-color: $returntotop;
    // width: 100%;
}

.returntotop:hover{
  background-color: darken($returntotop, 25%);
}

.parallax-container {
  height: 240px;
}







