@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Oxygen:400,700';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Crushed';

// Mixins
// @import "components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";

$background: #ECEBE4;
// $background: #F5F5DE;
$maintext: #000000;
$colortext: #660000;
$altcolor: #759EB8;
$hover: #00FFFF;

$wccc: #005627;
$woss: #2E4056;
$savvy: #000078;

a:hover {  
  color: $hover;
}

body {
  background-color: $background;
}

nav {
  background-color: $maintext;
  font-family: "Crushed", "Trebuchet MS", Helvetica, sans-serif;
  .brand-logo {
    color: $background;
  }
  ul a {
    font-size: 1.25em;
    color: $background;
  }
}

.header {
  font-family: "Ubuntu", "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color: $colortext;
  a {
    color: $maintext;
  }
}

.contact {
  margin-top: 1em;
}

h1 {
  color: $maintext;
}

.resume_body {
  @media #{$medium-and-up} {
    background: url(/images/mj3TfhN-wood-desktop-backgrounds.jpg);
  }
}

.resume {
  background-color: #FFFFFF;
  border: 1px outset #CCCCCC;
  margin-top: 2em;
  margin-bottom: 2em;
}

.savvy{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  color: $savvy;
  a {
    color: $savvy;
  }
  a:hover {
    color: lighten($savvy, 25%);
  }
}

.savvy .pic {
  font-family: 'Oxygen', 'Ubuntu', Helvetica, sans-serif;
}

.wccc{
  padding-left: 2em;
  padding-right: 2em;
  color: $wccc;
  a {
    color: $wccc;
  }
  a:hover {
    color: lighten($wccc, 25%);
  }
}

.woss {
  padding-left: 2em;
  padding-right: 2em;
  color: $woss;
  a {
    color: $woss;
  }
  a:hover {
    color: lighten($woss, 25%);
  }
}

.fade1 {
  margin-top: 2em;
  height: 80px;
  background: -moz-linear-gradient(270deg, #000000 0%, #660000 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #660000)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #000000 0%, #660000 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, #000000 0%, #660000 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, #000000 0%, #660000 100%); /* ie10+ */
  background: linear-gradient(180deg, #000000 0%, #660000 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
}

.current {
  padding: 2em;
  background-color: $colortext;
  color: $background;
  h4, h5, h6 {
  text-align: center;
  }
  a {
    color: $background;
  }
  a:visited {
  color: $background;
  }
  a:hover {
    color: $hover;
  }
}

.fade2 {
  height: 80px;
  background: -moz-linear-gradient(270deg, #660000 0%, #000000 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #660000), color-stop(100%, #000000)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #660000 0%, #000000 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, #660000 0%, #000000 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, #660000 0%, #000000 100%); /* ie10+ */
  background: linear-gradient(180deg, #660000 0%, #000000 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660000', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
}

.blog {
  a {
    color: $colortext;
  }
  a:hover {
    color: lighten($colortext, 25%);
  }
  article img {
    max-width: 100%;
  }
}

.about {
  background-color: $maintext;
  color: $background;
  margin-top: 2em;
  h5 {
    text-align: left;
  }
  a {
  color: $background;
  }
  a:hover {
  color: $hover;
  }
}

.returntotop {
    position: fixed;
    background-color: $altcolor;
    // width: 100%;
}

.returntotop:hover{
  background-color: darken($altcolor, 25%);
}

.parallax-container {
  height: 240px;
}







