a:hover {  
  color: $hover;
}

body {
  padding-bottom: 8em;
  background-color: $light-text;
  font-family: "Raleway", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.1em;
  line-spacing: 1.4em;
}

#sidenav-overlay {
  // background-color: $light-text;
}

#nav-mobile {
  background-color: $dark-text;
  a { color: $light-text; }

}
