$dark-text: #000000;
$light-text: #FAFAFA;

$blog-link: #A06CD5;
$blog-link-hover: #CBBAED;

$resume: #19647E;

$returntotop: #28536B;
$hover: #00FFFF;

$savvy: #418BC4;
$savadoro: #265579;
$phalcon: #69D28F;
