// $background: #EEEEF0;
$background: #74828D;
$dark-text: #000000;
$light-text: #EEEEF0;
$colortext: #660000;

$resume: #19647E;

$returntotop: #28536B;
$hover: #00FFFF;
// $hover: #CEFF1A;

$wccc: #005627;
$phalcon-gray: #445C6C;
$phalcon: #76C39B;
$woss: #2E4056;
$savvy: #418BC4;
$savadoro: #265579;
$rd1: #111035;
$cornerstone: #28324E;
$savvyshots: #325653;
$shootproof: #2E3D49;
$lovebettie: #A60800;
$eandi: #45669A;

$blog-anchor: #EEE82C;
