<div class="section design" id="design">
  <div class="bricklayer">

    <div class="design-box design-box--savvy brick">
      <div>
        <img class="responsive-img" src="images/design/SavvySoftWorks/SavvySoftWorks.svg">
      </div>
      <div>
        <h5>SavvySoftWorks, LLC</h5>
        <h6>Logo and iOS Icon</h6>
        <p>Built from the intial mockups of Paul Scarrone, principle developer at SavvySoftWorks</p>
        <p><a href="http://savvysoftworks.com" target="_blank">Visit SavvySoftWorks</a></p>
      </div>
    </div>

    <div class="design-box design-box--hkma brick">
      <div>
        <img class="responsive-img" src="images/design/HKMA/Highkix_Logo_New.svg">
      </div>
      <div>
        <h5>Highkix Martial Arts, LLC</h5>
        <h6>Logo Revamp</h6>
        <p>Reworked an existing logo, by removing one of silhouettes and replacing it with a newer one. Also update the English Language text and font.</p>
        <p><a href="http://www.highkix.com" target="_blank">Visit Highkix Martial Arts</a></p>
      </div>
    </div>

    <div class="design-box design-box--savadoro brick">
      <div>
        <img class="responsive-img" src="images/design/Savadoro/savadoro.svg">
      </div>
      <div>
        <h5>Savadoro</h5>
        <h6>App Icons</h6>
        <p>Icon set for SavvySoftWorks Savadoro timer.
        <p><a href="https://github.com/SavvySoftWorksLLC/savadoro/releases/tag/v0.2.2" target="_blank">Savadoro Beta</a></p>
      </div>
    </div>

    <div class="design-box design-box--savvy brick">
      <div>
        <img class="responsive-img" src="images/design/Savvy_Audio_Visual/SavvyAudioVisual.svg">
      </div>
      <div>
        <h5>Savvy Audio Visual</h5>
        <h6>Logo</h6>
        <p>Logo and color scheme for the soon to be Savvy Audio Visual page.
        <p>Coming Soon!</p>
      </div>
    </div>

    <div class="design-box design-box--savvy brick">
      <div>
        <img class="responsive-img" src="images/design/body_snatchers/body_snatchers.svg" style="max-height:64px">
      </div>
      <div>
        <h5>Body Snatchers</h5>
        <h6>Icon</h6>
        <p>Silly little icon I worked up for SavvySoftWorks Body Snatchers project.
        <p><a href="http://savvysoftworks.com" target="_blank">Visit SavvySoftWorks</a> | <a href="https://github.com/SavvySoftWorksLLC/body-snatchers" target="_blank">Body Snatchers on GitHub</a></p>
      </div>
    </div>

    <div class="design-box design-box--savvy brick">
      <div>
        <img class="responsive-img" src="images/design/SavvyLens/SavvyLens.svg">
      </div>
      <div>
        <h5>Camera Lens</h5>
        <h6>Just a thing I did.</h6>
      </div>
    </div>

  </div>
</div>
