<div class="section development" id="development"> 
  <div class="bricklayer">
    <div id="shootproof" class="dev-box dev-box--shootproof brick">
      <h5>Shootproof Browser</h5>
      <h6>SavvySoftWorks, LLC</h6>
      <p class="light">
        Built to work in conjunction with SavvySoftWorks omniauth-shootproof Ruby gem. This ReactJS project will redirect your Ruby on Rails app to ShootProof, where you can log in with your credentials and return to your Rails app. You will now be able to display images directly from ShootProof. Eliminating the need to upload your images directly to your own site.
      </p>
      <p>Languages/Frameworks: ReactJS, JavaScript, Ruby/Rails, HTML, CSS, MaterializeCSS</p>
    </div>

    <div id="readydayone" class="dev-box dev-box--rd1 brick">
      <h5>Ready Day One</h5>
      <h6>Cornerstone Management Resource Systems, Inc.</h6>
      <p class="light">
        Built by SavvySoftWorks for Cornerstone Management Resource Systems, Inc. This is the software portion of their management training programs. After initially starting with small tasks and tweaks, I have taken over as the primary maintainer. 
      </p>
      <p>Languages/Frameworks: Ruby/Rails, HTML, CSS, SCSS, BootStrap, JavaScript, ReactJS</p>
    </div>

    <div id="savadoro" class="dev-box dev-box--savadoro brick">
      <h5><a href="https://github.com/SavvySoftWorksLLC/savadoro/releases/tag/v0.2.2" target="_blank">Savadoro</a></h5>
      <h6>Beta</h6>
      <p class="light">
        Savadoro is a Pomodoro Technique timer built by myself and Samantha Shurie at SavvySoftWorks. This was an in house project that we hope will have a bright future.
      </p>
      <p>Languages/Frameworks: Electron, Javascript, HTML, CSS, SCSS, MaterializeCSS</p>
    </div>

    <div id="savvyshots" class="dev-box dev-box--savvyshots brick">
      <h5><a href="https://savvyshots.photography/" target="_blank">savvyshots.photography</a></h5>
      <h6>Savvy Shot Photography</h6>
      <p class="light">
        Existing Ruby on Rails website of the one and only Savannah Butler. I was tasked with revamping several features of the site as well as updating the styles of certain sections. I started with rebuilding the mobile navigation of the website. Then, using the SavvyMailer service, I also revamped the contact form and updated its style as well as the style of a few other sections of the site. Additionally I built a blog feature for the website so Savannah can share her adventures with the world.
      </p>
      <p class="light">
        More updates are in the works, and the big relaunch is coming soon!
      </p>
      <p>Languages/Frameworks: Ruby/Rails, ReactJS, HTML, HAML, CSS, SCSS, MaterializeCSS</p>
    </div>
 
    <div id="savvy-mailer" class="dev-box dev-box--savvy brick">
      <h5><a href="https://github.com/SavvySoftWorksLLC/savvy_mailer" target="_blank">SavvyMailer</a></h5>
      <h6>SavvySoftWorks, LLC</h6>
      <p class="light">
        Built using SinatraRB as a base, in conjuction with SavvySoftWorks own Body Snatchers ReactJS module. This is an Open Source contact form micro service for those who don't need a dynamic website but still need a contact form.
      </p>
      <p class="light">
        SavvySoftWorks offers a hosted version of this service for $2 a month which includes unlimited messages.
      </p>
      <p>Languages/Frameoworks: Ruby/SinatraRB, HTML, CSS</p>
    </div>

    <div id="savvysoftworks" class="dev-box dev-box--savvy brick">
      <h5><a href="http://savvysoftworks.com" target="_blank">savvysoftworks.com</a></h5>
      <h6>SavvySoftWorks, LLC</h6>
      <p class="light">
        Homepage for SavvySoftWorks, originally built during my internship their. I created a responsive mobile friendly landing page for for the compnay following the specs laid out by principle developer. This was an excellent opportunity to get my feet wet with the company as well as explore new to me frameworks and myself. I was giving broad specs to follow, but also set loose on many of the design issues. The site continues to be updated often with compbany projects and information.
      </p>
      <p>Languages/Frameworks: Ruby/Middleman, HTML, CSS, SCSS, MaterializeCSS, JavaScript</p>
    </div>

    <div id="leadwithcornerstone" class="dev-box dev-box--cornerstone brick">
      <h5><a href="http://leadwithcornerstone.com" target="_blank">leadwithcornerstone.com</a></h5>
      <h6>Cornerstone Management Resource Systems, Inc.</h6>
      <p class="light">
        Ported an existing HTML based website to Ruby's Middleman framework. Built the Ready Day One marketing page for the company, as well the new News page for blogging and press releases. Added SEO information to the site and updated a few design features for the company. Project is still in progress, more updates to follow. Later added custom landing pages with Mobirise to match digital marketing campaigns created by their Manager of Technical Operations. 
      </p>
      <p>Languages/Frameworks: Ruby/Middleman, HTML, CSS, SCSS, BootStrap, JavaScript, Mobirise</p>
    </div>

    <div id="lovebettie" class="dev-box dev-box--lovebettie brick">
      <h5><a href="https://lovebettie.com/" target="_blank">lovebettie.com</a></h5>
      <h6>Lovebettie / Willow Hill Music</h6>
      <p class="light">
        Resuced their former WordPress site from a hacked and unsafe state. Built them a quick landing page and incorporated Google Calendar into the page so fans could see upcoming shows.
      </p>
      <p>Languages/Frameworks: Ruby/Middleman, HTML, CSS, SCSS, MaterializeCSS</p>
    </div>

    <div id="eandi" class="dev-box dev-box--eandi brick">
      <h5><a href="https://engineersandinspectors.com/" target="_blank">engineersandinspectors.com</a></h5>
      <h6>Sam Sain / Engineers and Inspectors</h6>
      <p class="light">
        Ported a large existing HTML site to the Ruby Middleman Framework, fixing a few small details along the way. Then SavvySoftWorks was recommishened to redesign and rebuild the entire site. Making mobile friendly and giving it a modern look.
      </p>
      <p>Languages/Frameworks: Ruby/Middleman, HTML, CSS, SCSS, MaterializeCSS</p>
    </div>
  </div>
</div>
