<div class="footer center">
  <br>
  <div class="row valign-wrapper">
    <div class="col s12 m4 left">
      <h4 style="margin:0;">Gary A. Newsome</h4>
    </div>
    <div class="col s12 m4 center">
      <p >&copy;2017</p>
    </div>
    <div class="col s12 m4 right">
      <ul style="margin:0;">
        <li>
          <a href="https://www.linkedin.com/in/garyanewsome" target="_blank">
            <img src="/images/sm-icons/linkedin.svg" alt="https://www.linkedin.com/in/garyanewsome" style="width:32px; height:32px; margin-top:16px;">
          </a>
        </li>
        <li>
          <a href="https://www.github.com/garyanewsome" target="_blank">
            <img src="/images/sm-icons/github-white.svg" alt="GitHub.com/garyanewsome" style="width:32px; height:32px; margin-top:16px;">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/garyanewsome" target="_blank">
            <img src="/images/sm-icons/twitter.svg" alt="https://twitter.com/garyanewsome" style="width:32px; height:32px; margin-top:16px;">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <br>
</div>
