<div class="home valign-wrapper">
  <div class="section container">
    <div class="row">
      <div class="col s12">
        <h1>Gary A. Newsome</h1>
        <h3>Developer at <a class="savvy-hover" href="http://savvysoftworks.com" target="blank">SavvySoftWorks, LLC</a></h3>
        <h3><a class="phalcon-hover" href="https://www.facebook.com/groups/phalcon.users/" target="blank">Western Pa Phalcon PHP User Group</a></h3>
        <h3>Open Source Contributor</h3>
        <h3>Musician, Artist ...</h3>
      </div>
    </div>
  </div>
</div>
