<div class="home">
  <div class="section container">
    <div class="row">
      <div class="col m4 hide-on-med-and-down">
        <img src="/images/SavvyBot.svg" />
      </div>  

      <div class="col s12 m8">
        <div class="row">
          <h4 class="col s12 light">Developer at <a href="http://savvysoftworks.com" target="_blank">SavvySoftWorks, LLC</a></h4>
          <h5 class="col s12 light">Musician, Artist, Creative Being&#8230;</h5>
        </div>
        <div class="row center">
          <a href="/resume.html"><img src="/images/icons/Resume_Icon.svg" alt="Resume" class="home--img" /></a>
          <a href="/projects.html"><img src="/images/icons/Projects_Icon.svg" alt="Projects" class="home--img" /></a>
          <a href="/blog.html"><img src="/images/icons/Blog_Icon.svg" alt="Blog" class="home--img" /></a>
          <!-- <a href="/about.html"><img src="/images/icons/About_Icon.svg" alt="About" class="home--img" /></a> -->
        </div>
    
        <div class="latest">
          <div class="section">
            <div class="article">
              <h4>Lately&#8230;</h4>
              <div>
                  Pardon the remodel. It's not quite done yet, but I really wanted to see it and play with it in the real world.
              </div>            
              <div>
                <a href="http://savvysoftworks.com" target="_blank">SavvySoftWorks</a>, releases <a href="https://github.com/SavvySoftWorksLLC/savadoro/releases/tag/v0.2.2" target="_blank">Savadoro</a> beta. A Pomodoro Techinique timer. You can read about the timer and the release <a href="https://savvysoftworks.com/blog/products/savadoro-beta-available.html" target="_blank">here</a>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
