<div class="resume_body">
<div class="fadein_resume"></div>
  <div class="resume container" id="resume">
    <div class="savvy row">
      <div class="pic col s12 l5 center-align"><img src="/images/SavvySoftWorks_S_042717.svg" alt="SavvySoftWorks, LLC" style="padding:5px 15px 5px 5px; width:200px;"></h5>
      </div>
      <div class="info col s12 l7">
      <h5><a href="http://savvysoftworks.com" target="_blank">SavvySoftWorks, LLC</a></h5>
      <h6>Junior Software and Web Developer</h6>
      <p>
        At SavvySoftWorks, I assist and support owner Paul Scarrone in various projects both internal and for our clients. As well as handling web development projects on my own.<br><br>
        Languages and Frameworks we commonly work with:<br>
        Ruby, Ruby on Rails, Middleman, SinatraRB, Laravel, JavaScript, ReactJS, Bourbon and Neat, MaterializeCSS, HTML, CSS, SASS, BootStrap, WordPress.
      </p>
      <p>Contact us:</p>
         <ul>
          <li><a href="https://www.linkedin.com/company/10894300" target="_blank">SavvySoftWorks LinkedIn</a></li>
          <li><a href="mailto:paul@savvysoftworks.com">paul@savvysoftworks.com</a></li>
          <li><a href="mailto:gary@savvysoftworks.com">gary@savvysoftworks.com</a></li>
         </ul>
      </div>
    </div><!-- end savvy div -->
    <div class="wccc row">
      <br>
      <div class="pic col s12 l5 center-align"><br><img src="images/wcccnew.png" alt="WCCC" style="padding:5px 15px 5px 5px; width:200px; height:46px;">
      </div>
      <div class="info col s12 l7">
        <h5><a href="https://wccc.edu" target="_blank">Westmoreland County Community College</a> 
        </h5>
        <p class="center light">Associates Degree in</p>
        <h6><a href="https://wccc.edu/pages/future-students/academic-programs/computer-information-systems/computer-technology/programming-for-the-enterprise/" target="_blank">Computer Information Systems - Programming for the Enterprise</a></h6>
        <ul>
          <li>Graduated Summer 2016</li>
          <li>GPA: 4.0</li>
          <li>Phi Theta Kappa Honors Society</li>  
        </ul>
        <p>Languages studied: HTML, CSS, JavaScript, Java, C++, PHP and MySQL, Visual Basic</p>
      </div>
    </div><!-- end edu div -->
    <div class="woss row">
      <br>
      <div class ="pic col s12 l5 center-align"><img src="images/wosslogo2.png" alt="WOSS" style="padding:5px 15px 5px 5px; width:200px; height:200px;"></div>
      <div class="info col s12 l7">
      <h5><a href="http://westmorelandoss.com" target="_blank">Westmoreland Open Source Software</a></h5>
      <p class="center light">Member</p>
      <p>
        We focus on software craftsmanship, building open source software and strengthening a community of developers through collaboration. Collectively we volunteer our skills to the needy and provide education to the beginner and the experienced. We are a community of driven, passionate professionals and novices who know we can change the world with our creativity and hard work.
      </p>
        <ul>
          <li>Find us on Facebook at <a href="https://www.facebook.com/westmorelandopensourcesoftware/" target="_blank"> Westmoreland Open Source Software</a></li>
        </ul>
      </div>
    </div><!-- end WOSS div -->   
  </div><!-- end resume -->
  <div class="fadeout_resume"></div>
</div><!-- end resume_body -->
