@import './default.css';

:root {
  --light-background-color: #fdfdfd;
  --light-text-color: #343434;
  --light-text-color-light: #666666;

  --dark-background-color: #0f001a;
  --dark-text-color: #ffffff;

  --dark-text: #0f001a;
  --dark-text-hover: #1d062d;
  --theme: #4d1584;
  --theme-hover: #8c5abf;
  --light-ish-text: #c4c4c4;

  --code-bkg: #00cccc80;

  --hover: #00cccc;

  --rnpBlue: #232944;
  --rnpRed: #bf2932;
  --iw: #e81f57;
  --savvy: #408bc4;
  --savadoro: rgb(38, 85, 120);
  --phalcon: rgb(106, 210, 144);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--light-text);
}

.layout {
  height: 100vh;
}
