.post-container {
  width: 80vw;
  margin: 0 auto;
  padding: 8em 0 2em 0;
  background-color: var(--light-text);
  line-height: 2em;
}

.post-title {
  color: var(--theme);
}

.post-date {
  padding: 1em 0;
}

code {
  padding: 4px 4px 0 4px;
  background-color: var(--code-bkg);
}
