.container {
  width: 80vw;
  margin: 0 auto;
  padding-top: 8em;
  background-color: var(--light-text);
}

.writings {
  width: 100%;
  margin-bottom: 1em;
  padding: 2em;
  box-shadow: 1px 1px 4px var(--light-ish-text);
}

.block {
  text-decoration: none;
}

a.block,
a.block:visited {
  color: var(--theme);
  transition: color 1s ease;
}

a.block:hover {
  color: var(--theme-hover);
}

.date {
  margin: 8px 0;
}

.preview {
  font-size: 1.25em;
}
