@charset "utf-8";

@import "bourbon/bourbon";
@import "neat/neat";

header, main, nav, footer, section, article, figure, figcaption, aside { display: block; }

body	{	@include outer-container(1024px);
			background-color: #DDDDDD;
		}

header {	@include span-columns(12 of 12);
			//padding: 4px;
			text-align: center;
			font-size: 1.25em;
			font-family: 'Crushed', Georgia, serif;
			color: #333333;
		}
			
main 	{	overflow: auto;
			margin-left: 20px;
			margin-right: 20px;
			color: #333333;
			border: 1px outset #CCCCCC;
		}

main a:hover 	{	color: #0000FF;
					font-style: italic;
					padding-left: 5px;
				}

main a:visited { color: #0000FF;}

h1 {font-size: 4em;	}

footer {	text-align: center; 
			font-size: 1em;
			padding: 10px;
			margin-left: 20px; 
			margin-right: 20px; }

#banner	{@include span-columns(8);}
#contact {@include span-columns(4);}

#edu	{	@include span-columns(12);
			padding: 25px;
			background-color: #FFFFFF;
			color: #005627;}

#savvy	{	@include span-columns(12);
			padding: 25px;
			background-color: #FFFFFF;
			color: #333333;
			}

#woss	{	@include span-columns(12);
padding: 25px;
			background-color: #FFFFFF;
			color: #2E4056;}

.pic{@include span-columns(3)};
.info{@include span-columns(9)};

.pic, .info, .banner, .contact	{	@media screen and (max-width: 768px){
						@include span-columns(12 of 12);}}

