@keyframes iconfadelight {
  from {
    background: var(--theme);
  }
  to {
    background: var(--light-text);
  }
}

@keyframes iconfadedark {
  from {
    background: var(--light-text);
  }
  to {
    background: var(--theme);
  }
}

.container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  font-family: 'Crushed', sans-serif;
}

.header a {
  color: var(--theme);
  text-decoration: none;
  transition: color 1s ease;
}

a.brand:hover,
a.brand:active {
  text-decoration: none;
  color: var(--hover);
}

.navIcon {
  z-index: 550;
  width: 2em;
  height: 2em;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transition: color 1s ease;
}

.navIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--theme);
  border-radius: 8px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navIcon span:nth-child(1) {
  top: 8px;
}

.navIcon span:nth-child(2),
.navIcon span:nth-child(3) {
  top: 16px;
}

.navIcon span:nth-child(4) {
  top: 24px;
}

.navIcon.open span {
  animation: iconfadelight 1.4s ease forwards;
}

.navIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navIcon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.navIcon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
