<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="jumbotron-container">
      <h1 class="jumbotron-name">Gary A. Newsome</h1>
      <div>
        <h3>Developer at <a href="https://savvysoftworks.com/" class="savvy-link jumbo-link" target="_blank">SavvySoftWorks, LLC</a></h3>
        <h3><a class="phalcon-link jumbo-link" href="https://www.facebook.com/groups/phalcon.users/" target="blank">Western Pa Phalcon PHP User Group</a></h3>
        <h3>Open Source Contributor</h3>
        <h3>Amateur Designer, Musician, Artist ...</h3>
      </div>
    </div>
  </div>
</div>
