<div class="navbar">
  <ul class="navbar-ul" role="navigation">
    <li class="navbar-brand">
      <a class="nav-link navbar-brand" href="/">Gary A. Newsome</a>
    </li>

    <li class="nav-link-li navbar-writings-link">
      <a class="nav-link" href="{{ .Site.BaseURL }}writings">Writings</a>
    </li>
    
    <li class="nav-link-li linkedin-icon">
      <a class="nav-link" href="https://www.linkedin.com/in/garyanewsome" target="_blank">
        <img src="../../images/sm-icons/linkedin-light.svg" class="nav-img" alt="https://www.linkedin.com/in/garyanewsome" style="height:32px;" />
      </a>
    </li>
    
    <li class="nav-link-li github-icon">
      <a class="nav-link" href="https://www.github.com/garyanewsome" target="_blank">
        <img src="../../images/sm-icons/github-light.svg" class="nav-img" alt="GitHub.com/garyanewsome" style="height:32px;" />
      </a>
    </li>
    
    <li class="nav-link-li twitter-icon">
      <a class="nav-link" href="https://twitter.com/garyanewsome" target="_blank">
        <img src="../../images/sm-icons/twitter-light.svg" class="nav-img" alt="https://twitter.com/garyanewsome" style="height:32px;" />
      </a>
    </li>
     <li>
      <div class="nav-menu-toggle">
        <div class="nav-menu-toggle-one"></div>
        <div class="nav-menu-toggle-two"></div>
        <div class="nav-menu-toggle-three"></div>
      </div>
    </li>
  </ul>
</div>

<div class="mobile-nav">
  <ul>
    <li class="nav-link-mobile-li">
      <a class="nav-link mobile-brand" href="/">Home</a>
    </li>
    <li class="nav-link-mobile-li">
      <a class="nav-link" href="{{ .Site.BaseURL }}writings">Writings</a>
    </li>
    <li class="nav-link-mobile-li">
      <a class="nav-link" href="https://www.linkedin.com/in/garyanewsome" target="_blank">
        <img src="../../images/sm-icons/linkedin-light.svg" class="nav-img" alt="https://www.linkedin.com/in/garyanewsome" style="height:32px;" />
      </a>
      <a class="nav-link" href="https://www.github.com/garyanewsome" target="_blank">
        <img src="../../images/sm-icons/github-light.svg" class="nav-img" alt="GitHub.com/garyanewsome" style="height:32px;" />
      </a>
      <a class="nav-link" href="https://twitter.com/garyanewsome" target="_blank">
        <img src="../../images/sm-icons/twitter-light.svg" class="nav-img" alt="https://twitter.com/garyanewsome" style="height:32px;" />
      </a>
    </li>
  </ul>
</div>

