<nav class="navbar sticky-top fixed-bottom navbar-dark navbar-expand-lg writings-nav">
  <a class="navbar-brand" href="/">Gary A. Newsome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <br class="d-block d-lg-none" />
      <li class="nav-item writings-nav-item">
        <a class="nav-link" href="{{ .Site.BaseURL }}writings">Writings</a>
      </li>

      <li class="nav-item sm-nav-item d-none d-lg-block">
        <a href="https://www.linkedin.com/in/garyanewsome" target="_blank">
          <img src="../../images/sm-icons/linkedin-light.svg" class="nav-img" alt="https://www.linkedin.com/in/garyanewsome" style="height:32px;" />
        </a>
      </li>
      <li class="nav-item sm-nav-item d-none d-lg-block">
        <a href="https://www.github.com/garyanewsome" target="_blank">
          <img src="../../images/sm-icons/github-light.svg" class="nav-img" alt="GitHub.com/garyanewsome" style="height:32px;" />
        </a>
      </li>
      <li class="nav-item sm-nav-item d-none d-lg-block">
        <a href="https://twitter.com/garyanewsome" target="_blank">
          <img src="../../images/sm-icons/twitter-light.svg" class="nav-img" alt="https://twitter.com/garyanewsome" style="height:32px;" />
        </a>
      </li>
      <li class="nav-item sm-nav-item d-block d-lg-none">
        <hr />
        <a href="https://www.linkedin.com/in/garyanewsome" target="_blank">
          <img src="../../images/sm-icons/linkedin-light.svg" class="nav-img" alt="https://www.linkedin.com/in/garyanewsome" style="height:32px;" />
        </a>
        <a href="https://www.github.com/garyanewsome" target="_blank">
          <img src="../../images/sm-icons/github-light.svg" class="nav-img" alt="GitHub.com/garyanewsome" style="height:32px;" />
        </a>
        <a href="https://twitter.com/garyanewsome" target="_blank">
          <img src="../../images/sm-icons/twitter-light.svg" class="nav-img" alt="https://twitter.com/garyanewsome" style="height:32px;" />
        </a>
      </li>
  </div>
</nav>
