---
title: It all started with a conversation.
author: Gary A. Newsome
category: development
tags: web development, life, business
---
<p>
Which conversation may be the question. I took a job stocking shelfs overnight at a big box store, not exactly the kind of hours you want to have as a husband, father, and full time student, but none the less it was something I needed to do. The store is mostly empty during these hours so many employees listen to music etc. while stocking. Determined to continue learing I turned to podcasts. I knew one of my professors often listened to development podcasts so I asked for a few references, and off I went.
</p>
<p>
One theme rang true through all of the different podcasts I listened to, <strong>LEARNING</strong>. As part of the learning theme internships were often mentioned. So thinking to myself with my last semester or two pending, I need an internship. Internships were not really part of the development curriculum, so I asked my professor one morning who to talk to about this. Then one thing led to another, and my internship at SavvySoftWorks was born.
</p>
<p>
It started out slowly, off the books even, really just two guys coding once a week while the spring semester finished, and then once we hit the summer session it started full force. Building websites, solving client issues, all while learning every step of the way. MVC, Rails, best practices, even client relations and design principles. Incoming information in constant flow.
</p>
<p>
Now, that school is finished I continue to work for SavvySoftWorks and its CTO Paul Scarrone, whom I consider a great teacher, a mentor, and a friend. I handle website contruction for the company as well as assisting with our web apps, general client work, and some small design duties. All while learing from my mentor, exploring development, and constantly learning new things. 
</p>
<p>
All as a result of a conversation.
</p>
