<div class="section container current" id="current"> 
  <div class="row">
    <h4>Current Projects:</h4>
    <div class="col s12 m6">
      <h5>SavvyMailer</h5>
      <h6>SavvySoftWorks, LLC</h6>
      <p class="light">
        Built using SinatraRB as a base, in conjuction with SavvySoftWorks own InlineComponets module. This is an Open Source contact form micro service for those who don't need a dynamic website. SavvySoftWorks offers a hosted version of this service for $2 a month which includes unlimited messages.
        </p>
        <p class="light">
          Source code: <a href="https://github.com/SavvySoftWorksLLC/savvy_mailer" target="_blank">https://github.com/SavvySoftWorksLLC/savvy_mailer</a>
        </p>
    </div>
    <div class="col s12 m6">
      <h5>SavvySoftWorks Website</h5>
      <h6>SavvySoftWorks, LLC</h6>
      <p class="light">
        Homepage for SavvySoftWorks, LLC built using the Middleman and MaterializeCSS frameworks. I created a responsive mobile friendly landing page for SavvySoftWorks. Nested within the page you will find not only info regarding the company, but also the savvy_mailer hard at work on the contact form.<br>
        Previews coming soon...
      </p>
    </div>
  </div> <!-- end row 1 -->

  <div class="row">
    <div class="col s12 m6 push-m3">
      <h5><a href="https://savvyshots.photography/" target="_blank">savvyshots.photography</a></h5>
      <h6>Savvy Shot Photography</h6>
      <p class="light">
        Existing Ruby on Rails website of the one and only Savannah Butler. I was tasked with revamping several features of the site as well as updating the styles of certain sections. I started with rebuilding the mobile navigation of the website. Using the SavvyMailer service, I also revamped the contact form and updated its style as well as the style of a few other sections of the site. Additionally I built a blog feature for the website so Savannah can share her adventures with the world.
        </p>
    </div>
  </div> <!-- end row 2 -->
</div> <!-- end current -->