<div class="about section" id="about">
  <div class="container row">
    <div class="col l6 s12">
      <h5>Gary A. Newsome</h5>
      <p>Career Objective:<br>To put both my technical and creative skills to use developing web sites and web applications that meet both the user and clients needs.</p>
    </div>
    <div class="col l6 s12 push-l3">
      <h5>Find Me</h5>
      <ul>
        <li><a href="https://www.github.com/garyanewsome" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/garyanewsome" target="_blank">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/garyanewsome" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <div class="center">
    <br>
    <p>&copy;2016</p>
  </div>
</div>