<div class="section no-pad-bot">
  <div class="container header">
    <h1>Gary A. Newsome</h1>
    <div class="center">
      <h4 class="header col s12 light">Aspiring Developer, Amateur Designer</h4>
      <h5 class="header col s12 light">Musician, Artist, Creative Being...</h5>
      <div class="contact">
        <a href="https://www.github.com/garyanewsome" target="_blank">
          <img src="/images/GitHub-Mark-64px.png" alt="GitHub.com/garyanewsome" style="width:64px; height:64px;">
        </a>
        <a href="https://twitter.com/garyanewsome" target="_blank">
          <img src="/images/TwitterLogo.png" alt="https://twitter.com/garyanewsome" style="width:64px; height:64px;">
        </a>
        <a href="https://www.linkedin.com/in/garyanewsome" target="_blank">
          <img src="/images/In-Black-66px-R.png" alt="https://www.linkedin.com/in/garyanewsome" style="width:77px; height:66px;">
        </a>
      </div>
      <br>
    </div>
  </div>
</div>