---
layout: art_gallery
title: Gary A. Newsome | Art Gallery
---

<div class="container">
<div class="row">
    <div>
      <a class="gallery col s12 m6" href="images/art/2013-04-07 16.23.48.jpg">
        <img src="images/art/2013-04-07 16.23.48.jpg" height="400">
      </a>

      <a class="gallery col s12 m6" href="images/art/lks_mural.jpg" title="Part of a Mural Painted in the Stairwell at Latrobe Kinder-Schull">
        <img src="images/art/lks_mural.jpg" height="400">
      </a>

      <a class="gallery col s12 m4" href="images/art/2013-08-05 18.44.50.jpg">
        <img src="images/art/2013-08-05 18.44.50.jpg" height="400">
      </a>

      <a class="gallery col s12 m8" href="images/art/IMG_0180.JPG">
        <img src="images/art/IMG_0180.JPG" height="400>"
      </a>


    </div>
  </div>
</div>
