---
layout: layout
---

<div class="resume_body">
  <div class="resume container" id="resume">
    <div class="resume-section savvy row">
      <div class="pic col s12 l4 center-align"><img src="/images/SavvySoftWorks_S_042717.svg" alt="SavvySoftWorks, LLC" style="width:200px;"></h5>
      </div>
      <div class="info col s12 l8">
        <h5><a href="http://savvysoftworks.com" target="_blank">SavvySoftWorks, LLC</a></h5>
        <h6>Junior Software and Web Developer</h6>
        <p>
          At SavvySoftWorks I am responsible for developing and assisting in the development of web applications and websites. Addionally I handle small design tasks, as well talking/meeting with clients, and managing projects and staff.
        </p>
        <p>
          Languages and Frameworks we commonly work with:<br>
          Ruby, Ruby on Rails, Middleman, SinatraRB, JavaScript, ReactJS, Phalcon, Zephir, PHP, Bootstrap, MaterializeCSS, HTML, CSS, SASS, WordPress.
        </p>
         <ul>
          <li><a href="https://www.linkedin.com/company/10894300" target="_blank">SavvySoftWorks LinkedIn</a></li>
          <li><a href="mailto:paul@savvysoftworks.com">paul@savvysoftworks.com</a></li>
          <li><a href="mailto:gary@savvysoftworks.com">gary@savvysoftworks.com</a></li>
         </ul>
      </div>
    </div>

    <div class="resume-section wccc row">
      <br>
      <div class="pic col s12 l4 center-align"><br><img src="images/wcccnew.png" alt="WCCC" style="width:200px; height:46px;">
      </div>
      <div class="info col s12 l8">
        <h5><a href="https://wccc.edu" target="_blank">Westmoreland County Community College</a> 
        </h5>
        <h6><a href="https://wccc.edu/pages/future-students/academic-programs/computer-information-systems/computer-technology/programming-for-the-enterprise/" target="_blank">Computer Information Systems - Programming for the Enterprise</a></h6>
        <ul>
          <li>Graduated Summer 2016</li>
          <li>GPA: 4.0</li>
          <li>Phi Theta Kappa Honors Society</li>  
        </ul>
        <p>Languages studied: HTML, CSS, JavaScript, Java, C++, PHP and MySQL, Visual Basic</p>
      </div>
    </div>

    <div class="resume-section phalcon row">
      <br>
      <div class ="pic col s12 l4 center-align"><img src="images/resume/phalcon_no_img.svg" alt="Western Pa Phalcon PHP User Group" style="width:200px; height:200px;"></div>
      <div class="info col s12 l8">
      <h5><a href="https://www.meetup.com/Western-Pa-Phalcon-PHP/" target="_blank">Western Pa Phalcon PHP User Group</a></h5>
      <p class="light">A Phalcon and Zephir User's Group - Organizer</p>
      <p>
        We are small and growing meetup based around the Phalcon PHP framework. We cover Phalcon, Zephir, and PHP. As well as delving into other tech and development related topics on occation.
      </p>
        <ul>
          <li>Find us on Meetup at <a href="https://www.meetup.com/Western-Pa-Phalcon-PHP/" target="_blank">Western Pa Phalcon PHP User Group</a></li>
        </ul>
      </div>
    </div>

    <div class="resume-section woss row">
      <br>
      <div class ="pic col s12 l4 center-align"><img src="images/wosslogo2.png" alt="WOSS" style="width:200px; height:200px;"></div>
      <div class="info col s12 l8">
      <h5><a href="http://westmorelandoss.com" target="_blank">Westmoreland Open Source Software</a></h5>
      <p class="light">Member</p>
      <p>
        We focus on software craftsmanship, building open source software and strengthening a community of developers through collaboration. Collectively we volunteer our skills to the needy and provide education to the beginner and the experienced. We are a community of driven, passionate professionals and novices who know we can change the world with our creativity and hard work.
      </p>
        <ul>
          <li>Find us on Facebook at <a href="https://www.facebook.com/westmorelandopensourcesoftware/" target="_blank"> Westmoreland Open Source Software</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
