---
layout: projects
---

<div class="nav-content">
  <div class="projects">
    <ul class="tabs projects--tabs">
      <li class="tab"><a href="#development">Development</a></li>
      <li class="tab"><a href="#design">Design</a></li>
    </ul>
  </div>
</div>

<a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>

  <div id="development">
    <%= partial 'views/development' %>
  </div>

  <div id="design">
    <%= partial 'views/design' %>
  </div>
