---
layout: savvygirl
---

<div class="section savvy savvygirl savvyshade"> 
  <div class="row">
    <h1><a href="http://twitter.com/savvygirlcomics" target="_blank">SavvyGirl Comics</a></h1>
    <h5>A <a href="http://savvysoftworks.com" target="_blank">SavvySoftWorks</a> presentation</h5>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="center-align"><img src="/images/savvygirl/SavvyGirl_SEO.png"></p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="center-align"><img src="/images/savvygirl/SavvyGirl_MatchingPair.png"></p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p><img src="/images/savvygirl/SavvyGirl_SavvyMailer.png"></p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p><img src="/images/savvygirl/SavvyGirl_ComingSoon.png"></p>
    </div>
  </div>
</div>
