---
layout: savvygirl
---

<div class="section savvy savvygirl savvyshade">
  <div class="row">
    <h1><a href="http://twitter.com/savvygirlcomics" target="_blank">SavvyGirl Comics</a></h1>
    <h5>
      <a href="http://savvysoftworks.com" target="_blank">
        <img src="/images/SavvySoftWorks_Logo_042617.svg" alt="SavvySoftWorks" width="200px">
      </a>
    </h5>
  </div>

  <div class="row">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_BodySnatchers.png">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_BrownNoser.png">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_MatchingPair.png">
  </div>
<!-- 
  <div class="row">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_SavvyMailer.png">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_TeamPhoto.png">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_PhotoBomb.png">
  </div> -->
</div>
