---
layout: savvygirl
---

<div class="section savvy savvygirl">
  <div class="row container">
    <h4><a href="http://twitter.com/savvygirlcomics" target="_blank">SavvyGirl Comics</a></h4>
    <h5>SavvyGirl is the self-proclaimed Head of Marketing and Photo Bombing Goddess at <a href="http://savvysoftworks.com" target="_blank">SavvySoftWorks, LLC.</a></h5>
  </div>

  <div class="row">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_BodySnatchers.png">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_BrownNoser.png">
    <img class="col s12 m4 materialboxed" src="images/savvygirl/SavvyGirl_MatchingPair.png">
  </div>

  <div class="row center">
    <p>You can read more about how SavvyGirl came to be at <a href="http://localhost:4567/blog//SavvyGirl-Comics.html">here <i class="tiny material-icons">link</i></a></p>
  <div class="row center">
    <h5>
      <a href="http://savvysoftworks.com" target="_blank">
        <img src="/images/SavvySoftWorks_Logo_042617.svg" alt="SavvySoftWorks" style="max-width:320px;">
      </a>
    </h5>
  </div>
</div>
