<!Doctype HTML>
<html>
{{ partial "writings_head.html" . }}
<head>
  <title>Gary A. Newsome | Writing</title>
</head>
<body>
  {{ partial "nav.html" . }}
  <div class="container writings">
    <div class="writings-headline">
      <h2>Writings...</h2>
    </div>

    <div class="writings-container">
      {{ range where .Site.Pages "Type" "post" }}
        {{ if not (eq .Title "Posts") }}
          <div class="writings-post-block writings-shadow">
            <h4><a href="{{.Permalink}}" class="writings-link">{{ .Title }}</a></h4>
            <p class="writings-date-link"><em class="small">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</em></p>
            <p>{{ .Summary }}</p>
          </div>
          {{ end }}
      {{ end }}
    </div>

    <div class="return-links">
      <a href="../index">Return Home</a>
    </div>

  </div>
</body>
</html>
